<div class="container">
  <h1>lista de productos</h1>
  <button class="btn btn-primary" [routerLink]="['formulario']">
    Crear Producto
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of productos">
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.nombre }}</td>
        <td>{{ i.precio }}</td>
        <td>{{ i.categoria.nombre }}</td>
        <td>
          <button class="btn btn-info">Modificar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
